body {
	background-color: #FFCC00;
}

#homepage {
	font-family: "Lato";
	font-weight: 700;
	font-size: 50px;
	text-align: center;
	border: 5px solid black;
	width: 300px;
	position: relative;
	top: 40px;
	margin: auto;
	padding: 10px;
}



.container {
	position: relative;
	top: 10px;
	padding-bottom: 30px;
}
.content {
	  -moz-column-count: 3;
	  -moz-column-gap: 1em;
	  -webkit-column-count: 3;
	  -webkit-column-gap: 1em;
	  column-count: 3;
	  column-gap: 1em;
	  width: 600px;
	position: relative;
	top: 75px;
	margin: 0px auto;
	padding: 0px;
	text-align: center;
}

.title {
	font-family: "Lato";
	font-weight: 700;
	font-size: 25px;
	text-align: left;
	
	text-transform: uppercase;
	letter-spacing: 2px;
}

h1 {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
	color: #000000;
	outline: 0;
}

a:hover {
	text-decoration: none;
	font-weight: 900;
}

a:focus{
	text-decoration: none;
}