body, h1, h2, h3, h4, p, a, span {
	padding: 0px;
	margin: 0px;
	font-family: "Oswald", sans-serif; 
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;

}

body {
		overflow-x: hidden;
		background-color: #EEEEEE;
}

a {
	font-family: "Oswald", sans-serif; 
	font-weight: 400;
	font-size: 16px;

	text-decoration: none;
	outline: none;
	color: black;
}

ul {
	list-style: none;

}

.linethrough {
	text-transform: line-through;
}


.body-person #text #arrow {
	display: none;
}

.body-movie #text #arrow {
	display: none;
}

.hidden {
	display: none;
}


#top #arrow {
	display: none;
}


#triangle {
	width: 0; 
	height: 0; 
	border-left: 45px solid transparent; 
	border-right: 45px solid transparent; 
	border-bottom: 90px solid #00C95E;


	position: absolute;
	top: 39%;
	left: 45%;

}

#triangle-links {
	width: 0; 
	height: 0; 
	border-left: 12px solid transparent; 
	border-right: 12px solid transparent; 
	border-bottom: 24px solid white;


	position: fixed;
	top: 3%;
	left: 2%;
	z-index: 200;

}

#triangle-title {
	position: absolute;
	left: 4.3%;
	top: 2.3%;
}

#triangle-title a {
	font-size: 1.4rem;
	color: white;
}


#title-main {
	font-size: 3rem;
	color: #00C95E;
	position: absolute;
	top: 57%;
	left: 46.5%;
}


#links {
	position: absolute;
	right: 12%;
	top: 34.5%;

	width: 20%;
	text-align: left;
}

/*#links {
  -webkit-animation: linksan 15s;
  animation: linksan 15s;
  animation-iteration-count: 1; 
}


@-webkit-keyframes linksan {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes linksan {
   from {opacity: 0;}
    to {opacity: 1;}
}*/

#links a {
	font-size: 1.1rem;
}

#section-one {
	

	width: 25%;
	height: auto;

	position: absolute;
	top: 38%;
	left: 5%;

	text-align: right;

}

#section-one h1 a {
	font-size: 1.5rem;
	color: #00C95E;
}

#section-one h3 {
	font-size: 1.2rem;
}

#section-one p {
	font-family: "Lato", sans-serif;
	font-weight: 100;
	font-size: 1.1rem;

/*	text-align: right;*/
}

/*#section-one {
  -webkit-animation: sectionsan 15s;
  animation: sectionsan 15s;
  animation-iteration-count: 1; 
}


@-webkit-keyframes sectionsan {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes sectionsan {
   from {opacity: 0;}
    to {opacity: 1;}
}*/


.sidebar {
	width: 25%;
	position: fixed;
	top: 43%;
	left: 5%;
}

.section-title {
	font-size: 1.5rem;

	/*width: 25%;
	position: fixed;
	top: 43%;
	left: 5%;*/

	text-align: right;
	color: white;
}

.section-title-two {

	margin-top: 3%;


}

.section-title-three {
	top: 58%;
}

#arrow {
	color: black;
}


.body-movie .section-title-two {
	font-size: 1rem;
}




.section-title a{
	font-size: 1.5rem;
		text-align: right;

	color: white;

}

#current {
	border-bottom: 4px solid white;
}

#text {
	width: 52%;

	position: absolute;
	right: 10%;
	top: 30%;

	padding-bottom: 10%;
}

#body-who #text {
	top: 30%;
}

.body-movie #text {
	top: 15%;
}

.thuletuvalu #text {
	top: 25%;
}

.deeptime #text {
	top: 22%;
}

.inhabit #text {
	top: 20%;
}

.body-events #text {
	top: 20%;
}




.body-person #text {
	top: 30%;
}

.body-films #text {
	top: 20%;
}


.white {
	color: white;
}


.main-text {
	font-family: "Lato", sans-serif;
	font-weight: 300;
	text-transform: none;

	width: 90%;
}

.subtitle {
	font-size: 1.2rem;
	margin-bottom: 2%;
}

.event-title {
	font-size: 1.5rem;
	margin-bottom: 0px;
}

.film-info {
	margin-bottom: 0px;
}





.overflow {
	width: 100%;
	height: 10vh;
	position: fixed;
	z-index: 100;
}

body#body-about {
	background-color: #339966;
}

body#body-sponsors {
	background-color: #30D6AC;
}


body#body-who {
	background-color: #99CC00;
}

body.body-person {
	background-color: #99CC00;
}

body.body-films, body.body-events {
	background-color: #00E68A;
}

body.body-movie {
	background-color: #00E68A;

}

body#body-who .overflow {
	background-color: #99CC00;

}

body#body-who #top {
	top: 0px;
	left: 0px;
}

body#body-who #bottom {
	bottom: 0px;
	left: 0px;
}

body.body-person .overflow {
	background-color: #99CC00;

}

body.body-person #top {
	top: 0px;
	left: 0px;
}

body.body-person #bottom {
	bottom: 0px;
	left: 0px;
}

body.body-films .overflow {
	background-color: #00E68A;

}

body.body-events .overflow {
	background-color: #00E68A;
}


body.body-movie .overflow {
	background-color: #00E68A;

}

body.body-movie #top {
	top: 0px;
	left: 0px;
}

body.body-movie #bottom {
	bottom: 0px;
	left: 0px;
}

body.body-films #top {
	top: 0px;
	left: 0px;
}

body.body-films #bottom {
	bottom: 0px;
	left: 0px;
}

body.body-events #top {
	top: 0px;
	left: 0px;
}

body.body-events #bottom {
	bottom: 0px;
	left: 0px;
}



.image-grid {
	width: 200px;
	height: 200px; 

	float: left;
	margin-right: 1%;
	margin-top: 4%;

	border: 6px solid white;


}

#images {
	margin-top: 3%;
}


#don {
	background: url("don.jpg");
	background-repeat: no-repeat;

}

#annie {
	background: url("annie.jpg");
	background-repeat: no-repeat;

}

#daniel {
	background: url("daniel.jpg");
	background-repeat: no-repeat;
}


#fernanda {
	background: url("fernanda.jpg");
	background-repeat: no-repeat;

}

#jessie {
	background: url("jessie.jpg");
	background-repeat: no-repeat;

}

#dawn {
	background: url("dawn.jpg");
	background-repeat: no-repeat;

}

#avana {
	background: url("avana.jpg");
	background-repeat: no-repeat;

}

#zoraya {
	background: url("zoraya.jpg");
	background-repeat: no-repeat;

}

.name {


	position: relative;
	padding-top: 64%;
	padding-right: 7%;
	text-align: right;


	color: white;
	opacity: .75;


}

.multi {
	padding-top: 51%;
}


.name a {
	color: white;
	font-size: 1.5rem;


	
	position: relative;
	padding-top: 65%;

	text-align: right;



} 




.name:hover {
	opacity: 1;
}


#arrow {
	padding-top: 5%;
}

#arrow a {
	font-size: 2rem;
}



.film-name {
	color: white;

	position: relative;
	top: 65%;

	padding-right: 3%;
	text-align: right;
	opacity: .6;
	float: right;

	width: 90%;


}

.section-title-small {
	display: none;
}

.lowercase {
	text-transform: none;
}

.film-name a {
	color: white;
	font-size: 1.5rem;

}

.film-name:hover {
	opacity: 1;
}

.shorts {
/*	padding-top: 38%;*/
}



.image-list {
	/*width: 627px;*/
	width: 600px;

	height: 300px;

	float: left;
	margin-bottom: 15%;

	border: 6px solid white;

}

.no-image {
	height: 200px;
	border: 5px solid white;
}

.no-image .film-name {
/*	padding-top: %;*/
}







#deeptime {
	background: url("deeptime.png");

		background-repeat: no-repeat;

}

#wrenched {
	background: url("wrenched.jpg");
		background-repeat: no-repeat;

}

#mayor {
	background: url("mayor.png");
		background-repeat: no-repeat;

}

#santacruz {
	background: url("santacruz.jpg");
		background-repeat: no-repeat;

}


#mother {
	background: url("mother.jpg");
		background-repeat: no-repeat;

}


#justeat {
	background: url("justeat.jpg");
		background-repeat: no-repeat;

}

#umi {
	background: url("umi.jpg");
		background-repeat: no-repeat;

}



#monsoon {
	background: url("monsoon.jpg");
		background-repeat: no-repeat;

}

#divide {
	background: url("divide.jpg");
		background-repeat: no-repeat;

}

#blackice {
	background: url("blackice.jpg");
		background-repeat: no-repeat;

}

#inhabit {
	background: url("inhabit.jpg");
		background-repeat: no-repeat;

}

#thuletuvalu {
	background: url("thuletuvala.jpg");
		background-repeat: no-repeat;

}

#hayes {
	background: url("hayes.jpg");
		background-repeat: no-repeat;

}

#soil {
	background: url("soil.jpg");
		background-repeat: no-repeat;

}


















@media screen and (max-width: 1166px) {
	#section-one {
		width: 20%;
		top: 35%;
	}

}

@media screen and (max-width: 1080px) {
	.image-list {
	/*	width: 450px;*/
		width: 100%;

	}

	#text {
		width: 50%;
		position: absolute;

		/*right: 20%;
		top: 30%;*/

		padding-bottom: 10%;
	}

	.subtitle {
		width: 70%;
	}


	.film-name {
		color: white;

		position: relative;
/*		margin-bottom: 5%;*/
		padding-right: 3%;
		text-align: right;
		opacity: .6;


}
}


@media screen and (max-width: 945px) {
	#text {
			width: 50%;
			position: absolute;
/*			right: 3%;*/
		}

	.subtitle {
		width: 80%;
	}






}

@media screen and (max-width: 920px) {
	
	
	#section-one {
		left: 8%;
		top: 36%;
	}
/*
	.image-list {
		width: 350px;

	}*/
/*
	.film-name {
		padding-bottom: 60%;
	}*/

	.image-list {
		width: 100%
	}

}

@media screen and (max-width: 908px) {
	
	#links {
		top: 35%;
	}
	#links a{
		font-size: .9rem;
	}



}



@media screen and (max-width: 800px) {
	#triangle {
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent; 
		border-right: 20px solid transparent; 
		border-bottom: 40px solid #00C95E;


		position: absolute;
		top: 48%;
		left: 77%;
	}

	#section-one br {
		display: initial;
	}

	#section-one {
		width: 80%;
		left: 3%;
		top: 25%;
	}

	#section-one h1 a {
		font-size: 2rem;
		color: black;

	}

	#links {
		width: 60%;
		left: 23%;
		top: 56%;
		text-align: right;
	}

	#links a {
		font-size: 1.2rem;
	}

/*
	.image-list {
		width: 350px;


	}*/

	.film-name {
/*		padding-top: 60%;*/
	}

	#text {
		width: 50%;
		position: absolute;
		right: 10%;
		top: 30%;

		padding-bottom: 10%;

	}

	#body-about #text {
		top: 15%;
	}

	#body-who #text {
		top: 15%;
	}


	.body-person #text {
		top: 15%;
	}

	.body-events #text {
		top: 15%;
	}

	.body-films #text {
		top: 15%;
	}



}


@media screen and (max-width: 750px) {
	.main-text {
		text-align: justify;
	}

	#text {
		padding-bottom: 20%;
	}

	.image-list {
		/*width: 300px;
		height: 300px;*/

		width: 100%;
/*		height: auto;*/
	}

	.film-name {
/*		padding-top: 70%;*/
	}


}







@media screen and (max-width: 535px) {

	#section-one {

		width: 230px;
		left: 38%;
	}

	#triangle {
	
		display: none;
	}

	.displayed {
		display: none;
	}

	.hidden {
		display: initial;
	}

	#links {
		width: 200px;
		top: 50%;
		left: 44%;
	}

	#links a {
		color: #00C95E;
		display: block;
	}

	.section-title {
		display: none;
	}

	#triangle-links {
		left: 4%;
	}

/*	.body-person #text #arrow {
		display: initial;
	}*/

	#top #arrow {
		display: initial;
		position: fixed;

		top: 1%;
		right: 7%;

		font-size: 2rem;
		line-height: 0rem;
	}

	#text {
		position: absolute;
		left: 15%;
		top: 10%;
		/*width: 50%;*/
		width: 70%;
	}

	.main-text {
		width: 100%;
		position: relative;
		text-align: justify;

	}

	#body-sponsors .main-text {
		text-align: left;
	}


	.subtitle {
		position: relative;
		width: 100%;
	}




	.section-title-small {
		width: 100%;
		display: initial;
		position: relative;
		float: right;


		color: white;
		font-size: 2.5rem;
		margin-bottom: 10%;
		text-align: right;

	}


	.film-name {
		top: 10%;
		z-index: 40;
	}

	.subtitle {
		z-index: 30;
	}

}


	@media screen and (max-width: 440px) {

	#section-one {

		width: 230px;
		left: 30%;

	}


	.subtitle {
		position: relative;
		/*text-align: right;
		float: right;
		display: block;
		margin-bottom: 5%;*/
		font-size: 1.1rem;
		width: 100%;
/*		text-align: right;*/
	}


	#triangle {
	
		display: none;
	}

	#links {
		width: 230px;
		top: 50%;
		left: 30%;

	}

	#links a {
		color: #00C95E;
	}

	/*.main-text {
		padding-bottom: 20%;
	}*/

	


}


	@media screen and (max-width: 390px) {

	#section-one {

		width: 230px;
		left: 20%;

	}

	#triangle {
	
		display: none;
	}

	#links {
		width: 230px;
		top: 50%;
		left: 20%;

	}

	#links a {
		color: #00C95E;
	}

	.name {
		opacity: 1;
	}

	.film-name {
		opacity: 1;
	}

	#text {
		padding-bottom: 20%;
	}

	.image-list {
		width: 100%;
		height: 250px;


	}



	
	}

@media screen and (max-width: 320px) {


/*	.image-list {
		width: 215px;
		height: 215px;


	}*/

	.film-name {
		/*padding-top: 10%;*/
		text-align: right;
		padding-right: 6%;

	}

}



